//  VARIABLES

$marvelColor: #f0151e;
$marvelColorHovered: #d8151b;
$grey: rgba(255, 255, 255, 0.336);

// IMPORTS
@font-face {
  font-family: "Benton";
  src: url(./scss/fonts/Benton.otf);
}

@import "scss/header.scss";
@import "scss/cards.scss";
@import "scss/modal.scss";

// GLOBAL RULES

.App {
  background-color: #000;
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

.container {
  width: 1240px;
  margin: 0 auto;
  box-sizing: border-box;
}
