.wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, 300px);
  justify-content: space-between;
  margin-top: 30px;
}

.title-search {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 110px;
  h2 {
    color: #fff;
    font-size: 24px;
    font-weight: 600;
  }
  input {
    box-sizing: border-box;
    margin: 0;
    height: 35px;
    width: 300px;
    background-color: $bcg;
    border: 1px solid $grey;
    border-radius: 8px;
    padding: 10px;
    outline: none;
    color: #fff;
    &::placeholder {
      font-family: inherit;
      color: $grey;
    }
    &:focus {
      border-color: #fff;
    }
  }
}

.limit {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  font-size: 14px;
  margin-top: 15px;
  span {
    color: $grey;
    margin-right: 8px;
  }
  select {
    background-color: $bcg;
    border: 1px solid $grey;
    color: $grey;
    border-radius: 5px;
    padding: 2px;
    outline: none;
  }
}

.card {
  height: 380px;
  width: 300px;
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  cursor: pointer;
  img {
    height: 300px;
    width: 300px;
    object-fit: cover;
    object-position: center;
  }
  > div:nth-child(2) {
    margin-top: 15px;
    width: 90%;
    display: flex;
    align-items: flex-start;
    color: $marvelColor;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 10px;
  }
  .verso {
    background-color: $grey;
    position: absolute;
    top: 0;
    right: 0;
    height: 280px;
    width: 280px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    overflow-y: scroll;
    span {
      font-size: 14px;
      line-height: 16px;
      color: #fff;
      text-align: justify;
      margin-bottom: 20px;
    }
    a {
      text-decoration: none;
      height: 30px;
      width: 120px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #f0151cb7;
      border-radius: 5px;
      color: #fff;
      border: none;
      font-size: 14px;
      font-family: inherit;
      font-weight: 300;
      cursor: pointer;
      outline: none;
      &:hover {
        background-color: $marvelColorHovered;
      }
    }
  }
}

.heart {
  position: absolute;
  bottom: 20px;
  right: 20px;
  color: #f0151cb7;
  font-size: 25px;
  &:hover {
    color: $marvelColorHovered;
  }
}

.error {
  position: absolute;
  bottom: 5px;
  left: 20px;
  color: #f0151cb7;
  font-size: 14px;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  button {
    box-sizing: border-box;
    background-color: $bcg;
    border: none;
    font-size: 14px;
    color: $marvelColor;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    &:nth-child(1) {
      margin-right: 50px;
    }
    &:hover {
      color: $marvelColorHovered;
    }
  }
  .first-hidden {
    width: 158.33px;
  }
  .second-hidden {
    width: 91.2px;
  }
}
