.wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, 300px);
  justify-content: space-between;
  margin-top: 50px;
}

.card {
  height: 380px;
  width: 300px;
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  cursor: pointer;
  img {
    height: 300px;
    width: 300px;
    object-fit: cover;
    object-position: center;
  }
  > div:nth-child(2) {
    margin-top: 15px;
    width: 90%;
    display: flex;
    align-items: flex-start;
    span {
      color: $marvelColor;
      font-size: 18px;
      font-weight: 500;
      margin-bottom: 10px;
    }
  }
  .verso {
    background-color: #b3b3b3cb;
    position: absolute;
    top: 0;
    right: 0;
    height: 280px;
    width: 280px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    span {
      font-size: 14px;
      line-height: 16px;
      color: #fff;
      text-align: justify;
      margin-bottom: 20px;
    }
    a {
      text-decoration: none;
      height: 30px;
      width: 120px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #f0151cb7;
      border-radius: 5px;
      color: #fff;
      border: none;
      font-size: 14px;
      font-family: inherit;
      font-weight: 300;
      cursor: pointer;
      outline: none;
      &:hover {
        background-color: $marvelColorHovered;
      }
    }
  }
}
